@model string
<a class="btn btn-outline-secondary mb-3" href="@Model">
    <span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 0.25rem;">arrow_back</span>
    Back
</a>
