@model FYP.Models.Employee
@{
    ViewData["Title"] = L["Employee Dashboard"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>@L["Welcome to your Dashboard, {0}!", Model.FirstName]</h2>
    <p class="lead">@L["This is your employee dashboard page."]</p>

    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@L["Back to Home"]</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@L["Log out"]</a>

    </div>
</div>
