@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" href="~/css/About-Us.css" asp-append-version="true" />
</header>

<body>
    <div class="content-container contact-container">
        <h1>@L["About Us Title"]</h1>
        <p>
            @L["About Us Description"]
        </p>
    </div>
</body>
