@{
    // Keep the layout reference at the top.
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Contact-Us.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="content-container contact-container">
    <h1>WHERE TO FIND US?</h1>

    <ul class="contact-list">

        <li class="contact-item">
            <span class="icon-placeholder"><i class="fab fa-instagram"></i></span>
            <span>Follow us on Instagram : <a href="https://www.instagram.com/Fine_O_Dine" target="_blank">@@Fine_O_Dine</a></span>
        </li>

        <li class="contact-item">
            <span class="icon-placeholder"><i class="fab fa-facebook"></i></span>
            <span>Follow us on Facebook : <a href="https://www.facebook.com/Fine_O_Dine" target="_blank">Fine_O_Dine</a></span>
        </li>

        <li class="contact-item">
            <span class="icon-placeholder"><i class="fab fa-whatsapp"></i></span>
            <span>Call us on : <a href="tel:+96181468864">+961 81 468 864</a></span>
        </li>

        <li class="contact-item">
            <span class="icon-placeholder"><i class="fas fa-envelope"></i></span>
            <span>E-mail us at : <a href="mailto:FineODine@gmail.com">FineODine@gmail.com</a></span>
        </li>

    </ul>
</div>