@page
@{
    ViewData["Title"] = "Pending Admin Confirmation";
}

<div class="text-center mt-5">
    <svg width="64" height="64" fill="orange" viewBox="0 0 16 16" class="mb-3">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm.93 4.588-3.29 5.597c-.07.12-.107.257-.107.397v.01c0 .434.352.786.786.786h6.002a.786.786 0 0 0 .708-1.188l-3.29-5.596a.786.786 0 0 0-1.788 0z" />
    </svg>

    <h1 class="display-5">Waiting To Be Approved</h1>
    <p class="lead">
        Awaiting a manager to approve your account. You will receive an email notification once your account has been approved.
    </p>
    <a class="btn btn-link" asp-page="/Index">Return Home</a>
</div>
